<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script defer type="text/javascript" src="/scripts/dashboard.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>


    <% include partials/_header %>
    <main>
      <section class="orders-wrapper">
        <article >
          <% for (let order in orderPosts) { %>
            <form action="/order-update" method="post">
            <article class="dash-order-item">
              <div class="dash-order-summary">
                <h4 class="dash-order-id">Order ID: <%= orderPosts[order].order_id%></h4>
                <h5 class="dash-order-total">Order Total: <%= (orderPosts[order].total /100).toFixed(2)%></h5>
                <ul class="dash-order-list">
                  <% for (let item of orderPosts[order].allItems) { %>
                  <li><%= item[0]%> x <%= item[1]%></li>
                  <% } %>
                </ul>
              </div>
              <div>
                <% let createdAt = Date.parse(orderPosts[order].created_at); %>
                <% let newDate = new Date(createdAt); %>
                <% let createdAtString = newDate.toLocaleString(); %>
                <h5>Ordered At: <%= createdAtString %></h5>
                <p>Client Name: <%= orderPosts[order].user_name%></p>
                <p>Client Phone: <%= orderPosts[order].user_phone%></p>
              </div>
              <div>
                <h4>STATUS: <span class="order-item-status"><%= orderPosts[order].status%></span></h4>
                <div class="order-form-inputs">
                  <span>CONFIRM WAIT TIME: </span>
                  <input type="hidden" name="order_id" value="<%= orderPosts[order].order_id%>" />
                  <input type="hidden" name="customer_phone" value="<%= orderPosts[order].user_phone %>" />
                  <input type="number" name="status" />
                  <button type="submit">Confirm Order</button>
                </div>
              </div>
            </article>
          </form>
          <% } %>
        </article>
      </section>
    </main>
  </body>

  <% include partials/_footer %>
</html>
