<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script defer type="text/javascript" src="/scripts/edit-menu.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="edit-menu-body">
    <% include partials/_header %>
    <section class="hero subhero">
      <div>
        <article>
          <h2>Edit Menu</h2>
        </article>
      </div>
    </section>
    <main>
      <section class="menu-wrapper" id="menu-wrapper">
        <img src="/photos/basket.png" class="order-toggle" />
        <article >
          <form action="/new-menu-item" method="post" class="menu-form">
            <div>
              <% for (let menu_item of menu) { %>
                <article class="item-wrapper">
                  <img src="<%= menu_item.image_url %>" alt="<%= menu_item.item_name %>" width="200">
                  <div class="item-specifics">
                    <div class="name-description">
                      <h4 class="item-name"><%= menu_item.item_name %>&nbsp;</4><h4>|&nbsp;</h4><h4 class="item-price"><%= (menu_item.price / 100).toFixed(2) %></h4>
                      <p><%= menu_item.description %></p>
                      <div>
                        <button type="submit" class="edit-menu-item" name="<%= menu_item.item_name %>">Edit Item</button>
                        <a href="#" class="delete-menu-item abutton" name="item_name" value="<%= menu_item.item_name %>">Delete Item</a>
                      </div>
                    </div>
                  </div>
                </article>
                <% } %>
                <button type="submit" class="new-item-button" name="new_item_name">New Item</button>
            </div>
            <div>
              <article class="order-summary edit-menu-order-summary">
                <div>
                  <h5>Item to edit:</h5>
                </div>
                <div>
                  <ul class="order-list">
                  </ul>
                </div>
                <div>
                </div>
                <div>
                  <input type="text" name="update_item_name" placeholder="Item Name">
                  <input type="text" name="update_image_url" placeholder="Image URL">
                  <input type="number" name="update_item_price" placeholder="Item Price">
                  <textarea name="update_item_description" placeholder="Item Description"></textarea>
                </div>
                <div>
                  <button class="submit-item-update" type="submit">Update Item</button>
                </div>

              </article>
            </div>
          </form>
        </article>
      </section>
    </main>
  </body>

  <% include partials/_footer %>
</html>
