<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script defer type="text/javascript" src="/scripts/menu.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <% include partials/_header %>
    <section class="hero">
      <div>
        <article>
          <h2>GOOD EATS START HERE</h2>
          <h3>Order up some clucks!</h3>
        </article>
      </div>
    </section>
    <main>
      <section class="menu-wrapper">
        <article >
          <form action="/orders" method="post" class="menu-form">
            <div>
              <% for (let menu_item of menu) { %>
                <article class="item-wrapper">
                  <img src="<%= menu_item.image_url %>" alt="<%= menu_item.item_name %>" width="200">
                  <div class="item-specifics">
                    <div class="name-description">
                      <h4 class="item-name"><%= menu_item.item_name %>&nbsp;</4><h4>|&nbsp;</h4><h4 class="item-price">$<%= (menu_item.price / 100).toFixed(2) %></h4>
                      <p><%= menu_item.description %></p>
                      <span>Add to order:</span>
                      <input class="item-qty" type="number" min="0" name="<%= menu_item.item_name %>" />
                    </div>
                  </div>
                </article>
                <% } %>
            </div>
            <div>
              <article class="order-summary">
                <div>
                  <h5>ORDER:</h5>
                </div>
                <div>
                  <ul class="order-list">
                  </ul>
                </div>
                <div>
                  <input type="hidden" class="order-total" name="order-total"/>
                  <p>TOTAL:<span class="order-total order-total-span"></span></p>
                </div>
                <div>
                  <input type="text" name="customer-name" placeholder="Your Name">
                  <input type="tel" name="customer-phone" placeholder="Phone">
                  <textarea name="special-instructions" placeholder="Special Instructions"></textarea>
                </div>
                <div>
                  <button class="submit-order" type="submit">PLACE ORDER</button>
                </div>

              </article>
            </div>
          </form>
        </article>
      </section>
    </main>
  </body>

  <% include partials/_footer %>
</html>
